<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Table Layout</title>
</head>
<body>
<table id="search-result" class="table table-hover">
    <thead>
    <tr>
        <th scope="col">약국명</th>
        <th scope="col">약국 주소</th>
        <th scope="col">길찾기</th>
        <th scope="col">거리뷰</th>
        <th scope="col">거리</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>약국1</td>
        <td>약국로1길</td>
        <td><a href="#">길찾기 링크</a></td>
        <td><a href="#">거리뷰 링크</a></td>
        <td>1km</td>
    </tr>
    <tr>
        <td>약국2</td>
        <td>약국로2길</td>
        <td><a href="#">길찾기 링크</a></td>
        <td><a href="#">거리뷰 링크</a></td>
        <td>1km</td>
    </tr>
    <tr>
        <td>약국3</td>
        <td>약국로3길</td>
        <td><a href="#">길찾기 링크</a></td>
        <td><a href="#">거리뷰 링크</a></td>
        <td>1km</td>
    </tr>
    </tbody>
</table>
</body>
</html>